<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="/admin/photos" class="text-muted" style="text-decoration: none;"><h2><i class="fa fa-angle-left"></i> Gallery List</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>{{gallery.name}}</h1>
        </div>

        <md-button class="md-fab md-fab-bottom-right" style="position: fixed" aria-label="Add Photos">
            <label for="file-input">
                <md-icon class="fa fa-2x" md-font-icon="fa-plus"></md-icon>
            </label>
        </md-button>
        <input id="file-input" accept="image/*" multiple ngf-select="onFileSelect($files)" style="display: none;">
    </div>
    <br/>
    <div class="row">
        <form class="form-horizontal" name="form" ng-submit="saveGallery(form)">
            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">Name</label>

                <div class="col-sm-11"><input type="text" name="name" id="name" class="form-control" ng-model="gallery.name" required></div>
            </div>

            <div class="form-group">
                <label for="info" class="col-sm-1 control-label">Info</label>

                <div class="col-sm-11"><input type="text" name="info" id="info" class="form-control" ng-model="gallery.info"></div>
            </div>

            <div>
                <md-button class="md-primary md-button-lg" aria-label="Save" type="submit">
                    Save
                </md-button>
                <md-button class="md-button-lg" aria-label="Cancel" ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </form>
    </div>
    <div class="row goo-grid-container">
        <ul class="goo-container">
            <li class="goo" ng-class="{selected: photo.selected}" ng-repeat="photo in photos"></li>
        </ul>
        <ul class="goo-grid">
            <li class="goo-grid-item" ng-repeat="photo in photos" ng-class="{selected: photo.selected}">
                <div class="goo-grid-figure" ng-click="toggleSelect(photo)">
                    <progressbar ng-if="!photo.thumbnailId" class="progress-striped active" value="photo.progress">
                        <b>{{photo.progress}}%</b>
                    </progressbar>
                    <div class="box" ng-if="photo.thumbnailId" ng-style="{'background-image': 'url(/api/upload/{{photo.thumbnailId}})'}">
                        <i class="fa fa-3x fa-check"></i>
                    </div>
                </div>
                <md-button class="md-fab pull-right md-fab-offset" aria-label="Edit photo">
                    <md-icon class="fa" md-font-icon="fa-pencil"></md-icon>
                </md-button>
                <div class="goo-grid-caption">
                    <form action="">
                        <input type="text" class="form-control" placeholder="{{photo.filename}}" ng-model="photo.name">
                        <input type="text" class="form-control" placeholder="Info" ng-model="photo.info">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="9" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -6" result="goo"></feColorMatrix>
            <feComposite in="SourceGraphic" in2="goo" operator="atop" result="goo"></feComposite>
        </filter>
    </defs>
</svg>

<div ng-include="'components/footer/footer.html'"></div>
