<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Login</h1>

            <md-content class="md-padding">
                <form name="loginForm" ng-submit="vm.login()">
                    <md-input-container>
                        <label>Email</label>
                        <input md-maxlength="60" required name="email" type="email" ng-model="vm.user.email">
                        <div ng-messages="loginForm.email.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The email can be at most 60 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" required name="password" ng-model="vm.user.password">
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <section layout="row" layout-sm="column" layout-align="center center">
                        <md-button class="md-primary md-button-lg" type="submit" aria-label="Login">
                            Login
                        </md-button>
                        <md-button class="md-button-lg" ui-sref="signup" aria-label="Register">
                            Register
                        </md-button>
                    </section>
                </form>

                <br/>

                <section layout="row" layout-sm="column" layout-align="center center">
                    <md-button class="md-primary md-button-lg facebook-color" md-theme="none" aria-label="Login with Facebook" ng-click="vm.loginOauth('facebook')">
                        <i class="fa fa-facebook"></i>
                        Log in with Facebook
                    </md-button>
                    <md-button class="md-primary md-button-lg google-plus-color" md-theme="none" aria-label="Login with Google" ng-click="vm.loginOauth('google')">
                        <i class="fa fa-google-plus"></i>
                        Log in with Google
                    </md-button>
                    <md-button class="md-primary md-button-lg twitter-color" md-theme="none" aria-label="Login with Twitter" ng-click="vm.loginOauth('twitter')">
                        <i class="fa fa-twitter"></i>
                        Log in with Twitter
                    </md-button>
                    <md-button class="md-primary md-button-lg github-color" md-theme="none" aria-label="Login with Github" ng-click="vm.loginOauth('github')">
                        <i class="fa fa-github"></i>
                        Log in with Github
                    </md-button>
                    <md-button class="md-primary md-button-lg linkedin-color" md-theme="none" aria-label="Login with Linkedin" ng-click="vm.loginOauth('linkedin')">
                        <i class="fa fa-linkedin-square"></i>
                        Log in with Linkedin
                    </md-button>
                </section>
            </md-content>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
