<footer class="footer">
    <div class="container">
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-48443700-1'}, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <div class="flex-spacer"></div>

        <p class="text-white">
            &copy; Andrew Koroluk |
            <a class="text-white" href="https://github.com/Awk34/aksite">GitHub</a>
        </p>
    </div>
</footer>
