$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Component styles are injected through grunt
// injector
@import 'animations';
@import 'variables';
@import 'account/login/login';
@import 'account/signup/signup';
@import 'admin/admin';
@import 'admin/blogManager/blogManager';
@import 'admin/dashboard/dashboard';
@import 'admin/featuredManager/featuredManager';
@import 'admin/fileManager/fileManager';
@import 'admin/galleryEditor/galleryEditor';
@import 'admin/photoManager/photoManager';
@import 'admin/postEditor/postEditor';
@import 'admin/projectEditor/projectEditor';
@import 'admin/projectManager/projectManager';
@import 'admin/siteSettings/siteSettings';
@import 'admin/userEditor/userEditor';
@import 'admin/userManager/userManager';
@import 'blog/blog';
@import 'blog/post/post';
@import 'main/main';
@import 'photos/gallery/gallery';
@import 'photos/photos';
@import 'projects/project/project';
@import 'projects/projects';
@import 'resume/resume';
@import 'settings/dashboard/dashboard';
@import 'settings/profile/profile';
@import 'settings/settings';
@import 'user/user';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/preloader/preloader';
@import '../components/timeline/timeline';
// endinjector

/**
 * App-wide Styles
 */

html, body {
    height: 100%;
    font-family: $font-stack;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.facebook-color { color: $facebookColor }
.google-plus-color { color: $googlePlusColor }
.twitter-color { color: $twitterColor }
.github-color { color: $gitHubColor }
.linkedin-color { color: $linkedInColor }

.page-header {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: $header-font-stack;
    font-weight: 600;
    text-align: center;
    border: none;
    padding: 0;
    margin: 20px 0 10px 0;
}

.lead {
    font-size: 18px;
}

.text-white {
    color: $lightTextColor;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.md-button {
    font-family: 'Roboto', sans-serif;
    min-width: 60px;
}

.md-button:focus, .md-button:hover {
    text-decoration: none;
}
.md-button-lg {
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    span {
        text-decoration: none;
    }
}

md-chips.md-chips-noline .md-chips {
    box-shadow: none;
}

.grid-gallery {
    min-height: 350px;
}

.link {
    color: $link-color;
}

md-sidenav {
    z-index: 1001;
}

.sidenav-menu {
    list-style: none;
    padding: 0;
    li .md-button {
        list-style: none;
        display: block;
        padding: 0 16px 0 32px;
        text-transform: none;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }
}

md-list md-item {
    a md-item-content .md-tile-content * {
        color: $darkTextColor;
    }
    a:hover, a:focus {
        text-decoration: none;
    }
}

md-list md-list-item.md-with-secondary button md-icon.fa {
    font-size: 2em;
    line-height: 44px;
    height: 44px;
    vertical-align: middle;
}

.md-fab md-icon.fa {
    font-size: 2em;
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
}

.brick {
    display: block;
    width: 25%;
    float: left;
    img {
        width: 100%;
        display: block;
    }
}

/* Media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width: 60em) {
    /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
    .brick {
        width: 33.3%;
    }
}

@media screen and (max-width: 35em) {
    .brick {
        width: 50%;
    }
}

@media screen and (max-width: 24em) {
    .brick {
        width: 100%;
    }
}

.card {
    background-color: #fff;
    border-radius: 2px;
    min-width: 350px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    outline: none;
    .item {
        position: relative;
        img {
            border: 0;
            vertical-align: middle;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            width: 100%;
        }
        .bottom {
            padding: 16px;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            color: white;
        }
    }
    .md-fab {
        margin-right: 15px;
    }
    .card-content {
        padding: 16px;
        font-weight: 500;
    }
}

.md-fab-offset {
    margin-top: -28px;
    margin-bottom: -28px;
}
