<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div ng-if="error" class="row">
        <alert type="danger">Error: {{error}}</alert>
    </div>

    <div ng-if="!error" class="container post">
        <h2 class="post-header">{{vm.post.title}} <small ng-show="vm.post.hidden">Hidden</small></h2>
        <h5 class="post-date">{{vm.post.date}}</h5>

        <div class="block-author">
            <div class="block-meta">
                <div class="meta-avatar">
                    <a ng-href="/users/{{::vm.post.author.id}}" class="avatar avatar--small" title="Go to {{::vm.post.author.name}}'s profile">
                        <img ng-src="/api/upload/{{::vm.post.author.imageId}}" class="img-circle" title="{{::vm.post.author.name}}">
                    </a>
                </div>
                <div class="meta-summary">
                    by
                    <a ng-href="/users/{{::vm.post.author.id}}" title="Go to {{::vm.post.author.name}}'s profile" class="link">
                        {{::vm.post.author.name}}
                    </a>
                    <span class="metaInline metaInline--supplemental">
                        {{vm.post.date}}
                    </span>
                </div>
            </div>
        </div>

        <br/>

        <div class="lead" ng-bind-html="vm.post.content"></div>
    </div>

    <div class="row">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'andrewkoroluk';
            var disqus_identifier = window.location.pathname;
            var disqus_title = document.title;

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
