<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="/admin/projects" class="text-muted" style="text-decoration: none;"><h2>&lt; Project List</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>{{project.name}}</h1>
        </div>
    </div>
    <br/>

    <div class="row">
        <form class="form-horizontal" name="form" ng-submit="saveProject(form)">

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10"><input type="text" name="name" id="name" class="form-control" ng-model="project.name" required></div>
            </div>

            <div class="form-group">
                <label for="info" class="col-sm-2 control-label">Info</label>

                <div class="col-sm-10"><input type="text" name="info" id="info" class="form-control" ng-model="project.info" required></div>
            </div>

            <div class="form-group">
                <label for="file" class="col-sm-2 control-label">File</label>

                <div class="input-group col-sm-10" style="padding-left: 15px; padding-right: 15px;">
                    <input type="text" id="file" class="form-control file-input-value" ng-model="filename" readonly>
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                        Browse
                        <input type="file" accept="image/*" id="fileInput" ngf-select="onFileSelect($files)" ng-required="newProject">
                        </span>
                    </span>
                </div>
            </div>

            <progressbar class="progress-striped active" value="progress" ng-show="progress">
                <b>{{progress}}%</b>
            </progressbar>

            <div class="form-group">
                <label class="col-sm-2 control-label">Hidden</label>
                <md-switch class="col-sm-10" style="width: 65%; position: relative;" ng-model="post.hidden" aria-label="Hidden">
                    <span ng-show="!post.hidden">Visible</span>
                    <span ng-show="post.hidden">Hidden</span>
                </md-switch>
            </div>

            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">Content</label>

                <div class="col-sm-10">
                    <textarea id="content" class="form-control" rows="5" ng-model="project.content" required></textarea>
                </div>
            </div>

            <div>
                <button class="btn btn-inverse btn-lg btn-login" type="submit">
                    Save
                </button>
                <a class="btn btn-default btn-lg btn-register" ng-click="cancel()">
                    Cancel
                </a>
            </div>
        </form>

        <div class="lead marked-content" ng-bind-html="markedContent()"></div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
